button{
    background-color: darkgray;
}
body{
    background-color: dimgrey;
    min-height: 100vh;
}
h1{
    margin: 0;
    padding-top: 5%;
    text-align: center;
    color: #292e2b;
}

.block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15% auto;
    position: center;
    text-align: center;
    background-color: #c1c3c1;
    width: 250px;
    height: 50px;
    font-size: 38px;
    font-weight: bolder;
    font-family: Calibri;
    border-radius: 30px;
    border: none;
}
.block:active{
    background-color: #423f3f;
    color: #8e656b;
    cursor: auto;
}
.carData{
    background: #999999;
    border-color: #787878 #757575 #666666;
    background-image: -webkit-linear-gradient(top, #adadad 0%, #a6a6a6 50%, #999999 50%, #8e7b7c 100%);
    background-image: -moz-linear-gradient(top, #adadad 0%, #a6a6a6 50%, #999999 50%, #8e7b7c 100%);
    background-image: -o-linear-gradient(top, #adadad 0%, #a6a6a6 50%, #999999 50%, #8e7b7c 100%);
    background-image: linear-gradient(to bottom, #adadad 0%, #a6a6a6 50%, #999999 50%, #8e7b7c 100%);
    font-size: 22px;
    border-radius: 8px;
    border: none;
}
.carData:before {
    background: #b6afaf;
    background-image: -webkit-linear-gradient(top, #8b8484, #c2b7b7);
    background-image: -moz-linear-gradient(top, #8b8484, #c2b7b7);
    background-image: -o-linear-gradient(top, #8b8484, #c2b7b7);
    background-image: linear-gradient(to bottom, #8b8484, #c2b7b7);
}

.carData:active {
    background: #a6a6a6;
    background-image: -webkit-linear-gradient(top, #8a7577 0%, #a1a1a1 60%, #a6a6a6 100%);
    background-image: -moz-linear-gradient(top, #8a7577 0%, #a1a1a1 60%, #a6a6a6 100%);
    background-image: -o-linear-gradient(top, #8a7577 0%, #a1a1a1 60%, #a6a6a6 100%);
    background-image: linear-gradient(to bottom, #8a7577 0%, #a1a1a1 60%, #a6a6a6 100%);
}

.carData:active:after {
    border-color: #a6a6a6;
}

table{
    margin: 15% auto;
    background-color: #a07f7f;
    width: 550px;
    font-size: 28px;
    text-align: center;
    border-radius: 20px;
}
tr{
    height: 40px;

}



